
<div class="jumbotron vertical-center">
  <h1 class="text-center">Welcome to Jobs Tracker</h1>
</div>
<div class="horizontal-center">
  <h2 class="text-center">Forget about excel spreadsheets to keep track of you applications.<br>
    Create an account or sign in to get started!</h2>
</div>
