td.applied {
        font-weight: bold;
        background-color: green;
}

td.rejected {
        font-weight: bold;
        background-color: red;
}

td.interview {
        font-weight: bold;
        background-color: yellow;
}


.background {
  background: url('green.png');
}
